@tailwind base;
@tailwind components;
@tailwind utilities;

.s1 {
  font-size: 100px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-count: 5;
  --spacer: calc(var(--card-count) - 1);
  --width: 20%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif, 'samsungsharpsans-bold'; */
  overflow-y: scroll;
}

.responsive_workspaceheader {
  display: flex;
  flex-direction: column; /* 기본적으로 세로 정렬 */
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  /* 768px 이상에서 가로 정렬 */
  .responsive_workspaceheader {
    flex-direction: row;
  }
}
h1 {
  padding: 0;
  margin: 0;
}
.responsive_vtext {
  font-size: clamp(30px, 3vw, 48px);
}
@media (max-width: 748px) {
  .header-container {
    flex-direction: column;
    gap: 0;
  }
}
.responsive_text {
  font-size: 36px;
  width: 50%;
  @media screen and (max-width: 1440px) {
  }

  @media screen and (max-width: 1056px) {
    font-size: 26px;
  }
  @media screen and (max-width: 786px) {
    width: 80%;
    font-size: 18px;
  }
}

.responsive_text {
  font-size: 36px;
  width: 50%;
  @media screen and (max-width: 1440px) {
  }

  @media screen and (max-width: 1056px) {
    font-size: 26px;
  }
  @media screen and (max-width: 786px) {
    width: 80%;
    font-size: 18px;
  }
}

.responsive_mainResponsive {
  width: 1728px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (max-width: 1919px) {
    width: 1376px;
  }

  @media screen and (max-width: 1440px) {
    width: 1024px;
  }

  @media screen and (max-width: 1056px) {
    width: 100%;
  }
}

.grid_mainGrid {
  display: grid;
  align-items: stretch;
  grid-gap: 32px;
  padding: 0;
  margin: 0;
  --card-count: 5;
  --spacer: calc(var(--card-count) - 1);
  --width: 20%;

  grid-template-columns: repeat(var(--card-count), calc(var(--width) - (32px * var(--spacer) / var(--card-count))));

  @media screen and (max-width: 1919px) {
    --card-count: 4;
    --width: 25%;
  }

  @media screen and (max-width: 1440px) {
    --card-count: 4;
    --width: 25%;
  }

  @media screen and (max-width: 1056px) {
    --card-count: 3;
    --width: 33.33%;
  }

  @media screen and (max-width: 868px) {
    --card-count: 2;
    --width: 50%;
  }

  @media screen and (max-width: 568px) {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 16px;
  }
}

.workspace-item {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.workspace-image:hover ~ .workspace-item,
.workspace-item:hover {
  visibility: visible;
}

.scrollbar {
  width: 250px;
  height: 250px;
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #020623; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(121, 121, 121, 0.1); /*스크롤바 뒷 배경 색상*/
}
.custom-checkbox {
  -webkit-appearance: none; /* 크롬, 사파리 */
  -moz-appearance: none; /* 파이어폭스 */
  appearance: none; /* 기본 체크박스 스타일 제거 */
  width: 20px; /* 체크박스 크기 */
  height: 20px; /* 체크박스 크기 */
  border: 2px solid #020623; /* 체크박스 테두리 색상 */
  border-radius: 4px; /* 체크박스 모서리 둥글게 */
  cursor: pointer; /* 커서 포인터 */
  outline: none; /* 포커스 아웃라인 제거 */
  position: relative; /* 포지션 설정 */
}

.custom-checkbox:checked {
  background-color: #020623; /* 체크 시 배경 색상 */
}

.custom-checkbox:checked::after {
  content: ''; /* 체크 표시 */
  position: absolute;
  top: 4px; /* 체크 표시 위치 조정 */
  left: 4px; /* 체크 표시 위치 조정 */
  width: 8px; /* 체크 표시 크기 */
  height: 8px; /* 체크 표시 크기 */
  background-color: #000; /* 체크 표시 색상 */
}

.container-login {
  background-color: white; /* bg-white */
  width: 100%; /* w-full */
  max-width: 32rem; /* max-w-lg (32rem = 512px) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
  text-align: center; /* text-center */
  display: flex; /* flex */
  border-radius: 0.5rem; /* rounded-lg */
  overflow: hidden; /* overflow-hidden */
  flex-direction: column; /* flex-col */
}

@media (min-width: 768px) {
  /* md:flex-row */
  .container-login {
    flex-direction: row; /* flex-row */
  }
}

.container-wrapper {
  height: 100vh;
}

.container-block {
  height: 67px;
}

/* 마크다운 바디에서는 모든 css revert */
.markdown-body * {
  all: revert;
}

@font-face {
  font-family: 'samsungsharpsans-bold';
  src: url('/fonts/samsungsharpsans-bold.otf') format('opentype');
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: 'SamsungSharpSansRegular';
  src: url('/fonts/SamsungSharpSansRegular.woff') format('opentype');
}
@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOne.ttf') format('opentype');
}
@font-face {
  font-family: 'SamsungOneKorean-700';
  src: url('/fonts/SamsungOneKorean-700.ttf') format('truetype');
  unicode-range: U+AC00-D7AF;
}
body:lang(en) {
  font-family: 'samsungsharpsans-bold'; /* 기본 폰트는 Roboto로 설정 */
}

/* 한글이 포함된 부분은 Nanum Gothic 폰트로 설정 */
/* HTML 요소에서 lang 속성을 활용해 한글에 다른 폰트 적용 */
body:lang(ko) {
  font-family: 'SamsungOneKorean-700', 'SamsungSharpSans-Bold', sans-serif;
}

.cursor-pointer-nav {
  position: relative;
  cursor: pointer;
}

.cursor-pointer-nav::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.cursor-pointer-nav:hover::before {
  width: 100%;
}
